node_modules/

# Environment variables
.env

# Log files
*.log

# Firebase specific files (usually not committed)
#.firebase/ # Keep this one if you want local settings shared
#.firebaserc # Keep this one if you want project alias shared

# Build outputs
dist/
lib/

# TypeScript v1 declaration files
typings/
